body {
    margin: 0;
    padding: 0;
  }

  header {
    background-color: #624a72;
    color: white;
    margin: 0 auto;
    height: 50px;
  }

  header h1 {
    padding: 10px;
    margin: 0;
  }

/* change to table format*/
.school-list {
  margin-left: 25px;
  padding: 0;
}

.course {
  margin-left: 25px; 
  padding-left: 0;
}

.textbook {
  margin-left: 30px; 
  padding-left: 0;
}

#add-school {
  padding-top: 20px;
}

#add-school p, form {
  margin-left: 25px;
}

.add-course {
  display: none;
}

.add-course h4 {

}