body {
    margin: 0;
    padding: 0;
  }

  header {
    background-color: #624a72;
    color: white;
    margin: 0 auto;
    height: 50px;
  }

  header h1 {
    padding: 10px;
    margin: 0;
  }

/* change to table format*/
.school-list {
  margin-left: 25px;
  padding: 0;
}

.school{
  padding-top: 5px
}

.course {
  margin-left: 25px; 
  padding-left: 0;
}

.textbook {
  margin-left: 30px; 
  padding-left: 0;
}

#add-school {
  padding-top: 20px;
}

#add-school p, form {
  margin-left: 25px;
}

.add-course {
  padding-bottom: 20px;
  margin-right: 880px;
  background-color: #624a72;
  color: white;
  /*outline: red solid 1px;
  */
}

.add-course h4 {
  padding-bottom: 0px;
}

.school-course-info {
  display: none;
  
}

.school-name-span {
  cursor: pointer;
}

.textbook {
  color: red;
  /*outline: red solid 1px;
  */
}

.add-text {
  padding-bottom: 20px;
  margin-right: 850px;
  background-color: #624a72;
  color: white;
}

.delete-school-btn {
  float: right;
  margin-right: 450px;
  display: none;
}