body {
  margin: 0;
  padding: 0;
  background-color: oldlace;
}

header {
  background-color: #624a72;
  color: white;
  margin: 0 auto;
  height: 50px;
}

header h1 {
  padding: 10px;
  margin: 0;
}

/* change to table format*/
.school-list {
  list-style-type: none;
  margin-left: 25px;
  padding: 0;
}

.school{
  padding-top: 5px
}

.course {
  margin-left: 25px; 
  padding-left: 0;
  color: #2b4b37
}

.textbooks {
  display: none;
}

.textbook {
  margin-left: 30px; 
  padding-left: 0;
  color: #724a54;
}

#add-school {
  margin-top: 50px;
  padding-bottom: 20px;
  margin-right: 880px;
  background-color: #624a72;
  color: white;
}

#add-school p, form {
  margin-left: 25px;
}

.add-course {
  padding-bottom: 20px;
  margin-right: 880px;
  background-color: #2b4b37;
  color: white;
  /*outline: red solid 1px;
  */
}

.add-course h4 {
  padding-bottom: 0px;
}

.school-course-info {
  display: none;
  
}

.school-name-span {
  cursor: pointer;
}

.add-text {
  padding-bottom: 20px;
  margin-right: 850px;
  background-color: #724a54;
  color: white;
}

.delete-school-btn {
  float: right;
  margin-right: 450px;
  display: none;
}

.course-span {
  cursor: pointer;
}

.delete-textbook-button {
  margin-left: 100px;
}

.textbook-table {
  width: 100%;
  color: #724a54;
  border: 1px #724a54;
}

.textbook-table, th, td {
  padding; 15px;
  border: 1px #724a54;
}